# Ignore all image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
# Ignore all log files
*.log

# Ignore environment files
.env
.env.*

# Ignore node_modules folder
node_modules/

# Ignore build and dist folders
build/
dist/